.landing-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.landing-page-top-container {
  width: 100%;
  height: 109px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.landing-page-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 1000px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-end;
}
.landing-page-button {
  color: var(--dl-color-gray-white);
  width: 175px;
  height: 40%;
  z-index: 100;
  font-size: 14px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-color: #000000;
}
.landing-page-button:hover {
  color: #000000;
  border-color: #370511;
  background-color: #ffffff;
}
.landing-page-main {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  background-color: #000000;
}
.landing-page-image {
  width: 10%;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.landing-page-cards-container {
  width: 100%;
  height: 750px;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.landing-page-container1 {
  width: 450px;
  height: 750px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}

.landing-page-image1 {
  height: 450px;
  padding: var(--dl-space-space-doubleunit);
  box-shadow: 0px 0px 0px 0px #d4d4d4;
  object-fit: cover;
  transition: 0.3s;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  padding-bottom: 0px;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.landing-page-image1:hover {
  transform: scale(1.019);
  box-shadow: 0px 0px 0px 0px #d4d4d4;
}
.landing-page-container2 {
  width: 100%;
  height: 260px;
  display: flex;
  transition: 0.2s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}

.landing-page-text {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-family: Heebo;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
}
.landing-page-text1 {
  color: #ffffff;
  font-size: 12px;
  max-width: 300px;
  text-align: center;
  font-family: Heebo;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
}
.landing-page-link {
  color: #ffffff;
  font-size: 12px;
  font-family: Heebo;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.landing-page-link1 {
  color: #ffffff;
  width: 125px;
  font-size: 14px;
  text-align: center;
  transition: 0.3s;
  font-family: Heebo;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
.landing-page-link1:hover {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}
.landing-page-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 231px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.landing-page-image2 {
  width: 2%;
  object-fit: cover;
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.landing-page-link2 {
  align-self: center;
  font-family: Heebo;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-link3 {
  align-self: center;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
@media(max-width: 991px) {
  .landing-page-cards-container {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .landing-page-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-container1 {
    width: 200px;
  }
}
@media(max-width: 479px) {
  .html {
    background-color: #000000;
  }
  .body {
    background-color: #000000;
  }
  .landing-page-container {
    background-color: #000000;
  }
  .landing-page-main {
    height: 880px;
    background-color: #000000;
  }
  .landing-page-image {
    width: 30%;
  }
  .landing-page-cards-container {
    height: 736px;
  }
  .landing-page-container1 {
    width: 300px;
  }
  .landing-page-image1 {
    width: 100%;
    height: 375px;
  }
  .landing-page-image2 {
    width: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-link3 {
    font-family: Heebo;
  }
}
